/*============================================================================*    @@VARIABLES
\*============================================================================*/
/*============================================================================*    @@FONTS
\*============================================================================*/
@font-face {
  font-family: "Orbitron-Light";
  src: url("../fonts/Orbitron-Light.ttf"); }

@font-face {
  font-family: "Jura-Regular";
  src: url("../fonts/Jura-Regular.ttf"); }

/*============================================================================*    @@COMMON PROPERTIES
\*============================================================================*/
* {
  text-decoration: none;
  outline: none;
  box-sizing: border-box; }

button.order,
button.callback-btn {
  display: inline-block;
  padding: 7px 20px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  text-indent: 20px;
  font-family: "Jura-Regular", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  cursor: pointer; }
  button.order:hover,
  button.callback-btn:hover {
    background: #f7c205 url("../img/check.svg") no-repeat 12px 9px/15px;
    border: 1px solid #2a2a2a;
    color: black; }
  button.order:active,
  button.callback-btn:active {
    transform: scale(0.99);
    background: #f7c205 url("../img/check.svg") no-repeat 12px 9px/15px;
    border: 1px solid #c69b04;
    color: black;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.25); }

button.order {
  background: #fa951e url("../img/check.svg") no-repeat 12px 9px/15px; }

button.callback-btn {
  background: #fa951e url("../img/phone.svg") no-repeat 12px 9px/15px; }

button.continue {
  display: block;
  margin: 0 30vw;
  padding: 5px 12px;
  width: 125px;
  height: 32px;
  vertical-align: top;
  border: 1px solid #333333;
  border-radius: 5px;
  background: #424242;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  font-family: "Jura-Regular", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ebebeb;
  cursor: pointer; }
  button.continue:hover {
    background: #525252;
    border: 1px solid #2a2a2a;
    color: white; }
  button.continue:active {
    background: #cfcfcf;
    border: 1px solid #414141;
    color: black;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.25); }

/*============================================================================*    @@HEADER
\*============================================================================*/
header {
  position: fixed;
  padding: 1vw 8vw;
  width: 100%;
  height: 105px;
  background: rgba(51, 51, 51, 0.95);
  font-family: "Jura-Regular", sans-serif;
  z-index: 10; }
  @media (max-width: 1150px) {
    header {
      padding: 1vw; } }

.header__contacts {
  text-align: right;
  font-size: 18px;
  color: #ffffff; }
  .header__contacts .contacts__phone {
    display: inline-block;
    margin: 0 60px 0 0;
    padding: 2px 0;
    width: 170px;
    height: 35px;
    background: url("../img/b-jumbotron/icon-phone.png") no-repeat; }
    @media (max-width: 910px) {
      .header__contacts .contacts__phone {
        width: 160px;
        font-size: 16px; } }
  .header__contacts .contacts__address {
    display: inline-block;
    width: 170px;
    height: 35px;
    background: url("../img/b-jumbotron/icon-address.png") no-repeat; }
    @media (max-width: 910px) {
      .header__contacts .contacts__address {
        width: 160px;
        font-size: 16px; } }

.logo {
  display: inline-block;
  margin: 0 4vw; }
  @media (max-width: 1150px) {
    .logo {
      margin: 0; } }

.nav-bar {
  display: inline-block;
  margin: 5px 0;
  float: right; }
  .nav-bar .nav-bar__list {
    display: inline-block; }
    .nav-bar .nav-bar__list .nav-bar__item {
      display: inline-block;
      margin: 5px 2vw;
      padding: 8px 10px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.05);
      font-size: 14px;
      color: #ffffff;
      cursor: pointer; }
      .nav-bar .nav-bar__list .nav-bar__item:hover {
        background: rgba(255, 255, 255, 0.2); }
      @media (max-width: 910px) {
        .nav-bar .nav-bar__list .nav-bar__item {
          margin: 5px 1vw;
          font-size: 12px; } }
  @media (max-width: 910px) {
    .nav-bar .nav-bar__order {
      margin: 5px 0 5px 1vw; } }

/*============================================================================*    @@JUMBOTRON
\*============================================================================*/
.video-container {
  position: relative;
  width: 100%; }
  .video-container video {
    width: 100%;
    z-index: -10;
    vertical-align: bottom; }
  .video-container .video-container__opacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }

.jumbotron__title {
  position: absolute;
  top: 115px;
  left: 3vw;
  margin: 2vw 5vw;
  background: url("../img/logo-white.png") no-repeat 0 0/13vw;
  font-family: "Jura-Regular", sans-serif;
  color: #ffffff; }
  .jumbotron__title .jumbotron__title_logo {
    padding: 1vw 0 0 15vw;
    white-space: pre-wrap;
    font-size: 2.5vw; }
  .jumbotron__title h1 {
    padding: .5vw 0;
    text-transform: uppercase;
    font-family: "Orbitron-Light", sans-serif;
    font-size: 10vw; }
  .jumbotron__title .jumbotron__title_descr {
    padding: 0 0 1vw 0;
    white-space: pre-wrap;
    background: url("../img/b-jumbotron/icon-arrow.png") no-repeat 47vw 5vw/3.5vw;
    font-size: 2vw;
    font-weight: 700; }
    .jumbotron__title .jumbotron__title_descr span {
      font-size: 1.5vw;
      font-weight: 500; }

.jumbotron__order {
  margin: 1vw 31vw;
  width: 235px;
  height: 4.5vw;
  border: none;
  border-radius: 5px;
  background: #fa951e;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  font-family: "Jura-Regular", sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #333333;
  cursor: pointer; }
  .jumbotron__order:hover {
    background: #f7c205; }
  .jumbotron__order:active {
    transform: scale(0.99);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); }

/*============================================================================*    @@QUEST-ROOMS
\*============================================================================*/
.b-quest-rooms {
  font-family: "Jura-Regular", sans-serif; }
  .b-quest-rooms h2 {
    padding: 15px;
    background: #cccccc;
    text-align: center;
    font-family: "Orbitron-Light", sans-serif;
    font-size: 5vw;
    color: #333333; }

/*============================================================================*    @@QUEST-ROOMS & OTHER SERVICES
\*============================================================================*/
.quest,
.oth-serv {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  background: #333333; }

/*============================================================================*    @@QUEST ROOM & OTHER SERVICES- IMAGE
\*============================================================================*/
.quest__img,
.oth-serv__img {
  margin: 5vw 0;
  width: 43vw;
  height: 28vw; }

.quest__img.safe {
  background: url("../img/b-quest-rooms/img-safe.png");
  background-size: cover; }

.quest__img.ventilation {
  background: url("../img/b-quest-rooms/img-ventilation.png");
  background-size: cover; }

.quest__img.control-center {
  background: url("../img/b-quest-rooms/img-control-center.png");
  background-size: cover; }

.quest__img.sanitary {
  background: url("../img/b-quest-rooms/img-sanitary.png");
  background-size: cover; }

.oth-serv__img.child-party {
  background: url("../img/b-other-servises/img-ch-party.png");
  background-size: cover; }

.oth-serv__img.cars {
  background: url("../img/b-other-servises/img-cars.png");
  background-size: cover; }

/*============================================================================*    @@QUEST ROOM & OTHER SERVICES- INFO
\*============================================================================*/
.quest__info,
.oth-serv__info {
  margin: 0 0 0 3vw;
  width: 52vw;
  font-family: "Jura-Regular", sans-serif;
  color: #ffffff;
  /*============================================================================*    @@QUEST ROOM & OTHER SERVICES - BRIEF
\*============================================================================*/
  /*============================================================================*    @@QUEST ROOM & OTHER SERVICES - DESCRIPTION
\*============================================================================*/ }
  .quest__info .quest__info_title,
  .quest__info .oth-serv__info_title,
  .oth-serv__info .quest__info_title,
  .oth-serv__info .oth-serv__info_title {
    white-space: pre-wrap;
    font-size: 4.1vw;
    font-weight: 700;
    text-transform: uppercase; }
    .quest__info .quest__info_title span,
    .quest__info .oth-serv__info_title span,
    .oth-serv__info .quest__info_title span,
    .oth-serv__info .oth-serv__info_title span {
      font-size: 16px;
      font-weight: 500;
      text-transform: none;
      line-height: 2.5; }
  .quest__info .quest__info_brief,
  .quest__info .oth-serv__info_brief,
  .oth-serv__info .quest__info_brief,
  .oth-serv__info .oth-serv__info_brief {
    margin: 15px 3vw 15px 0;
    padding: 5px 15px;
    background: rgba(102, 102, 102, 0.25); }
    .quest__info .quest__info_brief .quest__info_brief-cost,
    .quest__info .quest__info_brief .quest__info_brief-team,
    .quest__info .quest__info_brief .oth-serv__info_brief-cost,
    .quest__info .quest__info_brief .oth-serv__info_brief-team,
    .quest__info .quest__info_brief .oth-serv__info_brief-duration,
    .quest__info .oth-serv__info_brief .quest__info_brief-cost,
    .quest__info .oth-serv__info_brief .quest__info_brief-team,
    .quest__info .oth-serv__info_brief .oth-serv__info_brief-cost,
    .quest__info .oth-serv__info_brief .oth-serv__info_brief-team,
    .quest__info .oth-serv__info_brief .oth-serv__info_brief-duration,
    .oth-serv__info .quest__info_brief .quest__info_brief-cost,
    .oth-serv__info .quest__info_brief .quest__info_brief-team,
    .oth-serv__info .quest__info_brief .oth-serv__info_brief-cost,
    .oth-serv__info .quest__info_brief .oth-serv__info_brief-team,
    .oth-serv__info .quest__info_brief .oth-serv__info_brief-duration,
    .oth-serv__info .oth-serv__info_brief .quest__info_brief-cost,
    .oth-serv__info .oth-serv__info_brief .quest__info_brief-team,
    .oth-serv__info .oth-serv__info_brief .oth-serv__info_brief-cost,
    .oth-serv__info .oth-serv__info_brief .oth-serv__info_brief-team,
    .oth-serv__info .oth-serv__info_brief .oth-serv__info_brief-duration {
      display: inline-block;
      width: 13vw;
      white-space: pre-wrap;
      font-size: 1.6vw;
      line-height: 1.5; }
      .quest__info .quest__info_brief .quest__info_brief-cost span,
      .quest__info .quest__info_brief .quest__info_brief-team span,
      .quest__info .quest__info_brief .oth-serv__info_brief-cost span,
      .quest__info .quest__info_brief .oth-serv__info_brief-team span,
      .quest__info .quest__info_brief .oth-serv__info_brief-duration span,
      .quest__info .oth-serv__info_brief .quest__info_brief-cost span,
      .quest__info .oth-serv__info_brief .quest__info_brief-team span,
      .quest__info .oth-serv__info_brief .oth-serv__info_brief-cost span,
      .quest__info .oth-serv__info_brief .oth-serv__info_brief-team span,
      .quest__info .oth-serv__info_brief .oth-serv__info_brief-duration span,
      .oth-serv__info .quest__info_brief .quest__info_brief-cost span,
      .oth-serv__info .quest__info_brief .quest__info_brief-team span,
      .oth-serv__info .quest__info_brief .oth-serv__info_brief-cost span,
      .oth-serv__info .quest__info_brief .oth-serv__info_brief-team span,
      .oth-serv__info .quest__info_brief .oth-serv__info_brief-duration span,
      .oth-serv__info .oth-serv__info_brief .quest__info_brief-cost span,
      .oth-serv__info .oth-serv__info_brief .quest__info_brief-team span,
      .oth-serv__info .oth-serv__info_brief .oth-serv__info_brief-cost span,
      .oth-serv__info .oth-serv__info_brief .oth-serv__info_brief-team span,
      .oth-serv__info .oth-serv__info_brief .oth-serv__info_brief-duration span {
        font-size: 1.2vw; }
    .quest__info .quest__info_brief .quest__info_brief-level,
    .quest__info .oth-serv__info_brief .quest__info_brief-level,
    .oth-serv__info .quest__info_brief .quest__info_brief-level,
    .oth-serv__info .oth-serv__info_brief .quest__info_brief-level {
      display: inline-block;
      width: 19vw;
      height: 70px;
      white-space: pre-wrap;
      font-size: 1.2vw;
      line-height: 2; }
    .quest__info .quest__info_brief .quest__info_brief-level.safe,
    .quest__info .quest__info_brief .quest__info_brief-level.ventilation,
    .quest__info .oth-serv__info_brief .quest__info_brief-level.safe,
    .quest__info .oth-serv__info_brief .quest__info_brief-level.ventilation,
    .oth-serv__info .quest__info_brief .quest__info_brief-level.safe,
    .oth-serv__info .quest__info_brief .quest__info_brief-level.ventilation,
    .oth-serv__info .oth-serv__info_brief .quest__info_brief-level.safe,
    .oth-serv__info .oth-serv__info_brief .quest__info_brief-level.ventilation {
      background: url("../img/b-quest-rooms/level-1.png") no-repeat 0 38px/5vw, url("../img/b-quest-rooms/level-1.png") no-repeat 6.5vw 38px/5vw, url("../img/b-quest-rooms/level-0.5.png") no-repeat 13vw 38px/5vw; }
    .quest__info .quest__info_brief .quest__info_brief-level.control-center,
    .quest__info .oth-serv__info_brief .quest__info_brief-level.control-center,
    .oth-serv__info .quest__info_brief .quest__info_brief-level.control-center,
    .oth-serv__info .oth-serv__info_brief .quest__info_brief-level.control-center {
      background: url("../img/b-quest-rooms/level-1.png") no-repeat 0 38px/5vw, url("../img/b-quest-rooms/level-0.5.png") no-repeat 6.5vw 38px/5vw, url("../img/b-quest-rooms/level-0.png") no-repeat 13vw 38px/5vw; }
    .quest__info .quest__info_brief .quest__info_brief-level.sanitary,
    .quest__info .oth-serv__info_brief .quest__info_brief-level.sanitary,
    .oth-serv__info .quest__info_brief .quest__info_brief-level.sanitary,
    .oth-serv__info .oth-serv__info_brief .quest__info_brief-level.sanitary {
      background: url("../img/b-quest-rooms/level-0.png") no-repeat 0 38px/5vw, url("../img/b-quest-rooms/level-0.png") no-repeat 6.5vw 38px/5vw, url("../img/b-quest-rooms/level-0.png") no-repeat 13vw 38px/5vw; }
    .quest__info .quest__info_brief .quest__info_brief-fn,
    .quest__info .oth-serv__info_brief .quest__info_brief-fn,
    .oth-serv__info .quest__info_brief .quest__info_brief-fn,
    .oth-serv__info .oth-serv__info_brief .quest__info_brief-fn {
      margin: 8px 0;
      font-size: 0.95vw; }
  .quest__info .quest__info_descr,
  .quest__info .oth-serv__info_descr,
  .oth-serv__info .quest__info_descr,
  .oth-serv__info .oth-serv__info_descr {
    padding: 10px 0; }
    .quest__info .quest__info_descr .quest__info_descr-title,
    .quest__info .quest__info_descr .oth-serv__info_descr-title,
    .quest__info .oth-serv__info_descr .quest__info_descr-title,
    .quest__info .oth-serv__info_descr .oth-serv__info_descr-title,
    .oth-serv__info .quest__info_descr .quest__info_descr-title,
    .oth-serv__info .quest__info_descr .oth-serv__info_descr-title,
    .oth-serv__info .oth-serv__info_descr .quest__info_descr-title,
    .oth-serv__info .oth-serv__info_descr .oth-serv__info_descr-title {
      display: inline-block;
      padding: 5px 4vw 5px 0;
      vertical-align: top;
      font-size: 1.2vw; }
    .quest__info .quest__info_descr .quest__info_descr-text,
    .quest__info .quest__info_descr .oth-serv__info_descr-text,
    .quest__info .oth-serv__info_descr .quest__info_descr-text,
    .quest__info .oth-serv__info_descr .oth-serv__info_descr-text,
    .oth-serv__info .quest__info_descr .quest__info_descr-text,
    .oth-serv__info .quest__info_descr .oth-serv__info_descr-text,
    .oth-serv__info .oth-serv__info_descr .quest__info_descr-text,
    .oth-serv__info .oth-serv__info_descr .oth-serv__info_descr-text {
      display: inline-block;
      width: 30vw;
      font-size: 1.15vw;
      line-height: 1.4; }

/*============================================================================*    @@QUEST ROOM & OTHER SERVICES - FORM
\*============================================================================*/
.quest__info_form,
.oth-serv__info_form {
  padding: 10px 0; }
  .quest__info_form div,
  .oth-serv__info_form div {
    display: inline-block; }
    .quest__info_form div label,
    .oth-serv__info_form div label {
      display: block;
      font-size: 15.5px; }
      .quest__info_form div label span,
      .oth-serv__info_form div label span {
        font-size: 17px;
        color: #993333; }
    .quest__info_form div input,
    .oth-serv__info_form div input {
      margin: 3px 5px 0 0;
      padding: 6px 12px;
      width: 16vw;
      height: 32px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      font-size: 14px;
      color: gray;
      overflow: hidden; }

/*============================================================================*    @@QUEST-ROOMS GROUP - 77-th FACTORY
\*============================================================================*/
.quest-rooms-group-77th-factory {
  font-family: "Jura-Regular", sans-serif; }
  .quest-rooms-group-77th-factory h3 {
    padding: 23px;
    background: #cccccc;
    text-align: center;
    font-family: "Orbitron-Light", sans-serif;
    font-size: 3vw;
    color: #333333; }

/*============================================================================*    @@OTHER SERVICES
\*============================================================================*/
.b-other-services {
  font-family: "Jura-Regular", sans-serif; }
  .b-other-services h2 {
    padding: 23px;
    background: #cccccc;
    text-align: center;
    font-family: "Orbitron-Light", sans-serif;
    font-size: 2.5vw;
    color: #333333; }
